<div class="row">
	<div class="large-8 columns end issues">
		<h1>Issues</h1>

    <p><%= link_to 'New Issue', new_admin_issue_path, class: 'btn btn-primary' %></p>

    <ul class="issues list">
      <% @issue_list.issues.each do | i | %>
        <li>
          <a href="<%= admin_issue_path(i.issue) %>"><%= i.title %></a>
          <%= raw(i.file_icon) %>
          <span class="status"><%= raw(i.issue_status) %></span>
        </li>
      <% end %>
    </ul>
	</div>
</div>




