<div class="row">
	<div class="large-8 columns end issues">
		<h1>Volumes</h1>

    <p><%= link_to 'New Volume', new_admin_issue_path, class: 'btn btn-primary' %></p>

    <ul class="issues list">
      <% @issue_list.issues.each do | i | %>
        <li>
          <a href="<%= admin_issue_path(i.issue) %>"><%= i.title %></a>
          <%= raw(i.file_icon) %>
          <span class="status"><%= raw(i.issue_status) %></span>
        </li>
      <% end %>
    </ul>
	</div>
 <div class="large-3 columns help">
        <h3>Help</h3>

<ul><li>Click on the New Volume button to add a new volume. </li>
<li>Click on the individual volume link to edit an existing volume. </li>
<li> “Published” indicates that the volume is visible to the public .  “Unpublished” volumes are visible only to administrators. Click on the icon/text to toggle between states.</>
<li>The <span title="PDF Only" class="pdf glyphicon glyphicon-file"></span> icon indicates that the archived volume is available in PDF format only.  </li>
<li>Click on the individual volume link to begin editing.</li></ul>

      </div> 
</div>




