<h1><%= @issue_detail.volume_title %></h1>
<% if @issue_detail.is_pdf? %>
  <p class="bg-warning">
    This issue is a 'pdf only' issue.  <br>
    <%= link_to 'Remove PDF Only', remove_pdf_admin_issue_path(@issue_detail.issue), method: 'put',  confirm: "Click ok if you are ready to remove the pdf version of this issue and start displaying the individual essays for this issue." %>
    - Do this when all of the essays from this issue have been added to the site.</p>
<% end %>
<p>
  <%= link_to 'Edit Volume', edit_admin_issue_path(@issue_detail.issue), class: 'btn btn-primary' %>
  <%= @issue_detail.public_link %>
</p>
<p class="on-off btn-group">
  <% if @issue_detail.published? %>
    <span class="glyphicon glyphicon-eye-open"></span> Published -
    <%= link_to(raw('<span class="glyphicon glyphicon-eye-close"></span> Unpublish'), unpublish_admin_issue_path, method: :put) %></p>
  <% else %>
     <span class="glyphicon glyphicon-eye-close"></span> Unpublished -
     <%= link_to(raw('<span class="glyphicon glyphicon-eye-open"></span> Publish'), publish_admin_issue_path, method: :put) %></p>
  <% end %>
  <br>
</p>
<hr>
<div class="row">
  <div class="large-8 columns">
    <div class="essays">
      <h2>Essays</h2>
        <p><%= link_to 'New Essay', new_admin_issue_essay_path(@issue_detail.issue), class: 'btn btn-primary' %></p>

        <table class="list ">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @issue_detail.essays.each do | e | %>
              <tr>
                <td><%= link_to e.title.truncate(40), admin_issue_essay_path(e.issue, e) %></td>
                <td class="author"><%= e.author %></td>
                <td>
                  <% if e.published? %>
                    <span class="glyphicon glyphicon-eye-open"></span> Published
                  <% else %>
                     <span class="glyphicon glyphicon-eye-close"></span> Unpublished
                  <% end %>
                </td>
                <td><%= link_to(raw('<span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span>'), admin_issue_essay_path(e.issue, e), method: :delete, confirm: "Delete \"#{e.title}\"?") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
      </div>
    <h2>Extra Pages</h2>
    <ul class="list extras">
      <% issue_components = @issue_detail.components %>
      <% issue_components.keys.each do |component| %>
        <li><%= link_to issue_components[component], @issue_detail.edit_content_link(component) %></li>
      <% end %>
    </ul>
  </div>

  <div class="large-4 columns">
    <div class="images">
      <h2>Images</h2>
      <div class="image_editor">
        <div class="image">
          <a href="#" class="change btn btn-primary">Edit</a>

          <h4>Large Cover Image</h4>
          <%= @issue_detail.image_form.large_image %>

          <h4>Small Cover Image</h4>
          <%= @issue_detail.image_form.small_image %>

          <h4>Image Credit: <%= @issue_detail.image_form.cover_image_credit %></h4>

          <h4>Image Alt: <%= @issue_detail.image_form.cover_image_alt %></h4>

        </div>
        <div class="form" style="display:none;">
          <%= simple_form_for @issue_detail.image_form, url: save_images_admin_issue_path, method: 'put' do | f | %>
            <%= f.input :large_cover_image, as: :file, hint: "Image Dimensions 900x200" %>
            <%= f.input :small_cover_image, as: :file, hint: "Image Dimensions 900x90" %>
            <%= f.input :cover_image_credit, label: 'Image Credit' %>
            <%= f.input :cover_image_alt, label: 'Image Alternate', hint: 'The alternate should be filled out with a description of the image.  This is for screen readers.' %>

            <%= f.submit :save, class: 'btn btn-primary' %>
            <a class="cancel">Cancel</a>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
