<h1><%= @issue_detail.title %> <%= link_to 'Edit', edit_admin_issue_path(@issue_detail.issue), class: 'btn btn-primary' %></h1>
<p class="on-off btn-group"><span class="glyphicon glyphicon-eye-open"></span> Published - <a><span class="glyphicon glyphicon-eye-close"></span> Unpublish</a></p>
<p></p>
<hr>
<div class="row">
  <div class="large-6 columns">
    <div class="essays">
      <h2>Essays</h2>
        <p><%= link_to 'New Essay', new_admin_issue_essay_path(@issue_detail.issue), class: 'btn btn-primary' %></p>

        <ul class="list ">
          <% @issue_detail.essays.each do | e | %>
            <li><%= link_to e.title.truncate(40), admin_issue_essay_path(e.issue, e) %> <span class="author">By <%= e.author %></span> <span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span></li>
          <% end %>
        </ul>
        <hr>
      </div>
    <h2>Extra Pages</h2>
    <ul class="list extras">
      <% issue_components = @issue_detail.components %>
      <% issue_components.keys.each do |component| %>
        <li><%= link_to issue_components[component], @issue_detail.edit_content_link(component) %> - <%= @issue_detail.edit_content_status(component) %></li>
      <% end %>
      <li><a href="">Acknowledgements</a></li>
      <li><a href="">Note From the Editor</a></li>
      <li><a href="">Editorial Board</a></li>
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="images">
      <h2>Images</h2>

      <h4>Large Cover Image</h4>
      <%= render partial: '/admin/images/form', locals: { width: 900, height: 200 } %>

      <h4>Small Cover Image</h4>
      <%= render partial: '/admin/images/form', locals: { width: 900, height: 90  } %>

    </div>
  </div>
</div>
