<h1><%= @issue_detail.volume_title %> <%= link_to 'Edit', edit_admin_issue_path(@issue_detail.issue), class: 'btn btn-primary' %></h1>
<p class="on-off btn-group">
  <% if @issue_detail.published? %>
    <span class="glyphicon glyphicon-eye-open"></span> Published -
    <%= link_to(raw('<span class="glyphicon glyphicon-eye-close"></span> Unpublish'), unpublish_admin_issue_path, method: :put) %></p>
  <% else %>
     <span class="glyphicon glyphicon-eye-close"></span> Unpublished -
     <%= link_to(raw('<span class="glyphicon glyphicon-eye-open"></span> Publish'), publish_admin_issue_path, method: :put) %></p>
  <% end %>
  <br>
  <%= @issue_detail.public_link %>
</p>
<hr>
<div class="row">
  <div class="large-6 columns">
    <div class="essays">
      <h2>Essays</h2>
        <p><%= link_to 'New Essay', new_admin_issue_essay_path(@issue_detail.issue), class: 'btn btn-primary' %></p>

        <table class="list ">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @issue_detail.essays.each do | e | %>
              <tr>
                <td><%= link_to e.title.truncate(40), admin_issue_essay_path(e.issue, e) %></td>
                <td class="author"><%= e.author %></td>
                <td>
                  <% if e.published? %>
                    <span class="glyphicon glyphicon-eye-open"></span> Published
                  <% else %>
                     <span class="glyphicon glyphicon-eye-close"></span> Unpublished
                  <% end %>
                </td>
                <td><%= link_to(raw('<span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span>'), admin_issue_essay_path(e.issue, e), method: :delete, confirm: "Delete \"#{e.title}\"?") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <hr>
      </div>
    <h2>Extra Pages</h2>
    <ul class="list extras">
      <% issue_components = @issue_detail.components %>
      <% issue_components.keys.each do |component| %>
        <li><%= link_to issue_components[component], @issue_detail.edit_content_link(component) %> - <%= @issue_detail.edit_content_status(component) %></li>
      <% end %>
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="images">
      <h2>Images</h2>

      <div class="image_editor">
        <div class="image">
          <h4>Large Cover Image</h4>
          <%= @issue_detail.image_form.large_image %>

          <h4>Small Cover Image</h4>
          <%= @issue_detail.image_form.small_image %>

          <br><a href="#" class="change">Change</a>
        </div>
        <div class="form" style="display:none;">
          <%= simple_form_for @issue_detail.image_form, url: save_images_admin_issue_path, method: 'put' do | f | %>
            <%= f.input :large_cover_image, as: :file %>
            <%= f.input :small_cover_image, as: :file %>
            <%= f.input :cover_image_credit %>
            <%= f.input :cover_image_alt %>

            <%= f.submit :save %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
