<h1>Volume 14 <%= link_to 'Edit', edit_admin_issue_path(1), class: 'btn btn-primary' %></h1>
<p class="on-off btn-group"><span class="glyphicon glyphicon-eye-open"></span> Published - <a><span class="glyphicon glyphicon-eye-close"></span> Unpublish</a></p>
<p></p>
<hr>
<div class="row">
  <div class="large-6 columns">
    <div class="essays">
      <h2>Essays</h2>
        <p><%= link_to 'New Essay', new_admin_issue_essay_path(1), class: 'btn btn-primary' %></p>
    
        <ul class="list ">
          <li><%= link_to 'Essay 1', admin_issue_essay_path(1, 1) %> <span class="author">By Bob Bobbers</span> <span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span></li>
          <li><%= link_to 'Essay 2', admin_issue_essay_path(1, 1) %> <span class="author">By Bob Bobbers</span> <span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span></li>
          <li><%= link_to 'Essay 3', admin_issue_essay_path(1, 1) %> <span class="author">By Bob Bobbers</span> <span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span></li>
        </ul>
        <hr>
      </div>
    <h2>Extra Pages</h2>
    <ul class="list extras">
      <li><a href="">Acknowledgements</a></li>
      <li><a href="">Note From the Editor</a></li>
      <li><a href="">Editors</a></li>
      <li><a href="">Editorial Board</a></li>
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="images"><h2>Images</h2>
    
        <h3>Large Cover Image</h3>
        <%= PlaceholderImage.call(900, 200, 1) %>
    
    
        <h3>Small Cover Image</h3>
        <%= PlaceholderImage.call(900, 90, 1) %>
    </div>
  </div>
</div>
