<h1>Essays</h1>

<section class="search">
  <%= form_tag essay_search_path, method: :get, class: "form-inline", role: "form" do %>
    <div class="form-group">
      <%= label_tag :q, "Search", class: "sr-only" %>
      <%= text_field_tag :q, @essay_search.keywords, placeholder: "Search", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :style, "Essay Style", class: "sr-only" %>
      <%= select_tag :style, @essay_search.essay_style_options, prompt: "Essay Style", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :issue, "Issue", class: "sr-only" %>
      <%= select_tag :issue, @essay_search.issue_options, prompt: "Issue", class: "form-control" %>
    </div>


    <div class="form-group">
      <%= label_tag :medium, "Medium", class: "sr-only" %>
      <%= select_tag :medium, @essay_search.medium_options, prompt: "Medium", class: "form-control" %>
    </div>

    <div class="form-group">
      <input type="submit" value="Search" class="btn btn-primary">
      <%= link_to("Reset", essay_search_path, class: "btn btn-link") %>
    </div>
  <% end %>
</section>

<%= will_paginate @essay_search.results %>

<section class="results">
  <table>
    <tbody>
      <% @essay_search.rows.each do | row | %>
        <%= row.render %>
      <% end %>
    </tbody>
  </table>
</section>
