<div class="row volume <%= object.css_class %>">
  <div class="large-12 header">
    <%= raw object.header_image %>
    <%= object.title %>
    <span class="credit">
      <% if object.image_credit_too_long? %>
        <span data-tooltip class="has-tip" title="<%= object.image_full_credit %>"><%= object.image_credit %></span>
      <% else %>
        <%= object.image_credit %>
      <% end %>
    </span>
  </div>
</div>

