
<ul class="side-nav">
  <h3>Essay Styles</h3>
   <ul class="list-unstyled">
    <% issue_nav.essay_styles.each do |style| %>
      <% if style.has_essays? %>
        <li><%= raw style.link_to_show %></li>
      <% end %>
    <% end %>
  </ul>

  <h3>Awards</h3>
   <ul class="list-unstyled awards">
    <% issue_nav.awards.each do |award| %>
      <% if award.has_essays? %>
        <li><%= raw award.link_to_detail %></li>
      <% end %>
    <% end %>
  </ul>


  <li><%= issue_nav.link_to_acknowledgements %></li>
  <li><%= issue_nav.link_to_editorial_notes %></li>
  <li><%= issue_nav.link_to_editorial_board %></li>
</ul>
