<% content_for(:issue_header) do %>
  <div class="row volume home">
    <div class="large-12 header">
      <a href="<%= issue_path(@issue_detail.issue) %>"><img src="http://placehold.it/900x200" ></a>
      <p>Volume 14</p>
    </div>
  </div>
<% end %>
<% content_for(:left_column) do %>
  <%= @issue_detail.render_nav %>
<% end %>

<% if @issue_detail.is_pdf? %>
  <p><%= @issue_detail.title %> is available as a PDF download. <%= link_to('Download', '#') %></p>
  <%= @issue_detail.cover_image %>
<% else %>

  <%= @issue_detail.render_carousel %>
  <h2>Essay Styles</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 listing">
    <% @issue_detail.essay_styles.each do |style| %>
      <li><%= style.link_to_show_with_image %><%= style.link_to_show %></li>
    <% end %>
  </ul>

<% end %>

