<h1><%= @issue_detail.year %></h1>
<ul>
  <li><%= @issue_detail.link_to_editorial_notes %></li>
  <li><%= @issue_detail.link_to_editorial_board %></li>
  <li><%= @issue_detail.link_to_acknowledgments %></li>
</ul>
<hr>
<h2>Essays</h2>
<ul>
  <% @issue_detail.essays.each do |essay| %>
    <li><%= link_to(essay.title, issue_essay_path(@issue_detail.friendly_id, essay.friendly_id)) %></li>
  <% end %>
</ul>
<hr>
<h2>Essay Styles</h2>
<ul>
  <% @issue_detail.essay_styles.each do |style| %>
    <li><%= style.link_to_show %></li>
  <% end %>
</ul>
