<% content_for(:left_column) do %>
  <%= @issue_detail.render_nav %>
<% end %>

<% if @issue_detail.is_pdf? %>
  <p><%= @issue_detail.title %> is available as a PDF download. <%= link_to('Download', '#') %></p>
  <%= @issue_detail.cover_image %>
<% else %>

  <%= @issue_detail.render_carousel %>
  <h2>Essay Styles</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 listing">
    <% @issue_detail.essay_styles.each do |style| %>
      <li><%= placeholder_image(211, 135, style.style_id) %><%= style.link_to_show %></li>
    <% end %>
  </ul>

<% end %>

