

<% if @issue_detail.is_pdf? %>
  <article><p class="download"><%= @issue_detail.title %> is available as a PDF <%= link_to('Download', '#', class: "button") %> </p>
    <%= @issue_detail.cover_image %></article>
<% else %>

  <% content_for(:left_column) do %>
    <%= @issue_detail.render_nav %>
  <% end %>

  <% content_for(:issue_header) do %>
    <%= @issue_detail.render_issue_header %>
  <% end %>

  <%= @issue_detail.render_carousel %>

  <h2>Essays</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 listing volume">
    <% @issue_detail.essays.each do | e | %>
      <li><%= e.render %></li>
    <% end %>
  </ul>

<% end %>

