<% content_for(:issue_header) do %>
  <%= @award_detail.render_issue_header %>
<% end %>

<h1><%= @award_detail.title %></h1>

<%= @award_detail.body %>

<ul class="small-block-grid-3 listing">
  <% @award_detail.essay_awards.each do |essay_award| %>
    <li>
      <h3><%= essay_award.placement_string %> Place<h3>
      <%= raw @award_detail.link_to_essay(essay_award.essay) %>
    </li>
  <% end %>
</ul>
