<h1>My Amazing Essay </h1>
<p><%= link_to 'Edit', edit_admin_issue_path(1), class: 'btn btn-primary' %></p>

<p>By Bob Bobbers</p>
<p>Narrative</p>


<h2>Content</h2>
<ul>
  <li><%= link_to 'Body Content', '#' %> - Not Visited</li>
  <li><%= link_to 'Alternate Body', '#' %> - Not Visited</li>
  <li><%= link_to 'Media Embed', '#' %> - Not Visited</li>
  <li><%= link_to 'Author Biography', '#' %> - Not Visited </li>
  <li><%= link_to 'Works Cited', '#' %> - Not Visited</li>
  <li><%= link_to 'Discussion Questions', '#' %> - Not Visited</li>
  <li><%= link_to 'Instructor Resources', '#' %> - Not Visited</li>
</ul>


<h2>Awards</h2>

<p><%= link_to 'Add Award', new_admin_issue_essay_essay_award_path(1, 1), class: 'btn btn-primary' %></p>

<h2>Images</h2>


<h3>Cover Image</h3>
<%= PlaceholderImage.call(671, 429, 1) %>

<h3>Author Image</h3>
<%= PlaceholderImage.call(50, 75, 1) %>
