<h1>Volume 14 </h1>
<h2>My Amazing Essay <%= link_to 'Edit', edit_admin_issue_path(1), class: 'btn btn-primary' %></h2>
<p class="on-off btn-group"><span class="glyphicon glyphicon-eye-open"></span> Published - <a><span class="glyphicon glyphicon-eye-close"></span> Unpublish</a></p>


<h3 class="author">By Bob Bobbers</h3>
<h4 class="style">Narrative</h4>
<hr>
<div class="row">
  <div class="large-6 columns">

    <h2>Content</h2>
    <ul class="list ">
      <li><%= link_to 'Body Content', new_admin_markdown_content_path %> - Done</li>
      <li><%= link_to 'Alternate Body', new_admin_markdown_content_path %> - Not Visited</li>
      <li><%= link_to 'Media Embed', new_admin_markdown_content_path %> - Not Visited</li>
      <li><%= link_to 'Author Biography', new_admin_markdown_content_path %> - Not Visited </li>
      <li><%= link_to 'Works Cited', new_admin_markdown_content_path %> - Done</li>
      <li><%= link_to 'Discussion Questions', new_admin_markdown_content_path %> - Not Visited</li>
      <li><%= link_to 'Instructor Resources', new_admin_markdown_content_path %> - Not Visited</li>
    </ul>
    <hr>
    <div class="awards">
    <h2>Awards</h2>
    <p><%= link_to 'Add Award', new_admin_issue_essay_essay_award_path(1, 1), class: 'btn btn-primary' %></p>
     </div>
  </div>
  <div class="large-6 columns">

    <h2>Images</h2>

    <h3>Cover Image</h3>
    <%= PlaceholderImage.call(671, 429, 1) %>

    <h3>Author Image</h3>
    <%= PlaceholderImage.call(50, 75, 1) %>
  </div>
</div>
