<h1><%= @essay_detail.volume_link %></h1>
<h2><%= @essay_detail.essay_title %>  <%= link_to 'Edit', edit_admin_issue_essay_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %></h2>
<p class="on-off btn-group">
  <% if @essay_detail.published? %>
    <span class="glyphicon glyphicon-eye-open"></span> Published -
    <%= link_to(raw('<span class="glyphicon glyphicon-eye-close"></span> Unpublish'), unpublish_admin_issue_essay_path, method: :put) %></p>
  <% else %>
     <span class="glyphicon glyphicon-eye-close"></span> Unpublished -
     <%= link_to(raw('<span class="glyphicon glyphicon-eye-open"></span> Publish'), publish_admin_issue_essay_path, method: :put) %></p>
  <% end %>
  <br>
  <%= @essay_detail.public_link %>
</p>


<h3 class="author">By <%= @essay_detail.essay_author %></h3>
<h4 class="style"><%= @essay_detail.essay_style %></h4>
<hr>
<div class="row">
  <div class="large-6 columns">
    <h2>Content</h2>
    <ul class="list">
      <% essay_components = @essay_detail.components %>
      <% essay_components.keys.each do |component| %>
        <li><%= link_to essay_components[component], @essay_detail.edit_content_link(component) %> - <%= @essay_detail.edit_content_status(component) %></li>
      <% end %>
      <li><%= link_to 'Media Embed', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited</li>
    </ul>
    <hr>
    <div class="files">
      <h2>Files</h2>
      <% if @essay_detail.files.present? %>
        <ul class="list">
          <% @essay_detail.files.each do |file| %>
            <li>
              <%= link_to file.title, edit_admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay, file) %>
              <%= link_to(raw('<span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span>'), admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay, file), method: :delete, confirm: "Delete \"#{file.title}\"?") %></li>
          <% end %>
        </ul>
      <% else %>
        <p><%= link_to 'Upload File', new_admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %></p>
      <% end %>
    </div>
    <div class="awards">
      <h2>Awards</h2>
      <% if @essay_detail.award.present? %>
        <ul>
          <li><%= @essay_detail.award.inspect %></li>
        </ul>
      <% end %>
      <p><%= link_to 'Add Award', new_admin_issue_essay_award_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %></p>
    </div>
  </div>

  <div class="large-6 columns">
    <h2>Images</h2>

    <h3>Cover Image</h3>
    <%= render partial: '/admin/images/form', locals: { width: 671, height: 429 } %>

    <h3>Author Image</h3>
    <%= render partial: '/admin/images/form', locals: { width: 50, height: 75 } %>
  </div>
</div>
