<h1><%= @essay_detail.volume_link %></h1>
<h2><%= @essay_detail.essay_title %> <small>By <%= @essay_detail.essay_author %></small> </h2>
<p>
  <%= link_to 'Edit Essay', edit_admin_issue_essay_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %>
  <%= @essay_detail.public_link %>
</p>
<p class="on-off btn-group">
  <% if @essay_detail.published? %>
    <span class="glyphicon glyphicon-eye-open"></span> Published -
    <%= link_to(raw('<span class="glyphicon glyphicon-eye-close"></span> Unpublish'), unpublish_admin_issue_essay_path, method: :put) %></p>
  <% else %>
     <span class="glyphicon glyphicon-eye-close"></span> Unpublished -
     <%= link_to(raw('<span class="glyphicon glyphicon-eye-open"></span> Publish'), publish_admin_issue_essay_path, method: :put) %></p>
  <% end %>
</p>
<p class="on-off btn-group">
  <% if @essay_detail.highlighted? %>
    <span class="glyphicon glyphicon-star"></span> Highlighted -
    <%= link_to(raw('<span class="glyphicon glyphicon-star-empty"></span> Unhighlight'), unhighlight_admin_issue_essay_path, method: :put) %></p>
  <% else %>
     <span class="glyphicon glyphicon-star-empty"></span> Unhighlighted -
     <%= link_to(raw('<span class="glyphicon glyphicon-star"></span> Highlight'), highlight_admin_issue_essay_path, method: :put) %></p>
  <% end %>
</p>
<hr>
<div class="row">
  <div class="large-7 columns">
    <h2>Content</h2>
    <% if @essay_detail.components_with_content.present? %>
      <% if @essay_detail.components_with_content.size > 0 %>
        <ul class="list">
          <% @essay_detail.components_with_content.each do |component, component_title| %>
            <li><span class="glyphicon glyphicon-ok-circle"></span> <%= link_to raw("#{component_title}"), @essay_detail.edit_content_link(component) %></li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <div class="bg-warning">
        No Content has been added to this essay.  Select content from the list below to add content to this essay.
      </div>
    <% end %>
    <% if @essay_detail.components_without_content.present? %>
      <h2>Add Content</h2>
      <ul class="list">
        <% @essay_detail.components_without_content.each do |component, component_title| %>
          <li><span class="glyphicon glyphicon-plus-sign"></span> <%= link_to raw("#{component_title}"), @essay_detail.edit_content_link(component) %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="files">
      <h2>Attached Files</h2>
      <p>Companion Materials and Instructore Resources Files</p>
      <% if @essay_detail.files.present? %>
        <ul class="list">
          <% @essay_detail.files.each do |file| %>
            <li>
              <%= link_to file.title, edit_admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay, file) %>
              <%= link_to(raw('<span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span>'), admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay, file), method: :delete, confirm: "Delete \"#{file.title}\"?") %></li>
          <% end %>
        </ul>
      <% end %>
      <p><%= link_to 'Upload Attached File', new_admin_issue_essay_attached_file_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %></p>
    </div>
    <div class="awards">
      <h2>Awards</h2>
      <% if @essay_detail.essay_award.present? %>
        <ul class="list">
          <li>
            <%= link_to @essay_detail.essay_award.title, edit_admin_issue_essay_essay_award_path(@essay_detail.issue, @essay_detail.essay, @essay_detail.essay_award) %>
            <%= link_to(raw('<span class="delete"><span class="glyphicon glyphicon-trash"></span> Delete</span>'), admin_issue_essay_essay_award_path(@essay_detail.issue, @essay_detail.essay, @essay_detail.essay_award), method: :delete, confirm: "Remove \"#{@essay_detail.essay_award.title}\"?") %>
          </li>
        </ul>
      <% else %>
        <p><%= link_to 'Add Award', new_admin_issue_essay_essay_award_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %></p>
      <% end %>
    </div>
  </div>

  <div class="large-3 columns">
    <h2>Images</h2>
    <div class="image_editor">
      <div class="image">
        <%= link_to 'Edit', edit_images_admin_issue_essay_path(@essay_detail.issue, @essay_detail.essay), class: 'btn btn-primary' %>

        <h3>Cover Image</h3>
        <%= @essay_detail.image_form.essay_cover_image %>

        <h4>Image Credit: <%= @essay_detail.image_form.cover_image_credit %></h4>

        <h4>Image Alt: <%= @essay_detail.image_form.cover_image_alt %></h4>

        <h3>Author Image</h3>
        <%= @essay_detail.image_form.essay_author_image %>
      </div>
    </div>
  </div>
  <div class="large-2 columns help">
    <h3>Help</h3>
    <ul>
      <li>
        Once you have saved the essay title, author, and type, you can begin to add content.  Click on the desired content section link to add or paste in content from another source.  Any text content that you enter into the Markdown field will be immediately visible in the Preview pane.  See <a href="/documents/MarkdownSyntaxGuide.pdf">documentation</a> for additional information about the Markdown utility.

      </li>
      <li>
        Add images by clicking on the <img src="/help/image.png" style="height:20px;" alt=""> button.  You can browse to an image on your computer to upload.  Note that there is a field for adding citation/attribution information when you upload an image. It is best to limit image credit text to 255 characters.  If it is greater, the text will appear in a separate tool tip popup field.  The Alt tag should contain a description of the image that will make sense for a screen reader.
      </li>
      <li>
        You can also add embed code for audio or video files into the Markdown field.  Players will not appear in the Preview but will be visible on the site.  See <a href="/documents/UsingMediaGalleryinSakaitoManageFreshWritingMediaFiles.pdf">documentation</a> for instructions to obtain embed code for media files.
      </li>
    </ul>
  </div>
</div>
