<h1>Volume 14</h1>
<h2>My Amazing Essay </h2>
<p>Published - <a>Unpublish</a></p>
<p><%= link_to 'Edit', edit_admin_issue_path(1), class: 'btn btn-primary' %></p>

<p>By Bob Bobbers</p>
<p>Narrative</p>
<hr>
<div class="row">
  <div class="large-6 columns">

    <h2>Content</h2>
    <ul>
      <li><%= link_to 'Body Content', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Done</li>
      <li><%= link_to 'Alternate Body', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited</li>
      <li><%= link_to 'Media Embed', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited</li>
      <li><%= link_to 'Author Biography', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited </li>
      <li><%= link_to 'Works Cited', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Done</li>
      <li><%= link_to 'Discussion Questions', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited</li>
      <li><%= link_to 'Instructor Resources', edit_admin_issue_essay_markdown_content_path(id: "new", essay_id: 1) %> - Not Visited</li>
    </ul>
    <hr>
    <h2>Awards</h2>
    <p><%= link_to 'Add Award', new_admin_issue_essay_essay_award_path(1, 1), class: 'btn btn-primary' %></p>
  </div>
  <div class="large-6 columns">

    <h2>Images</h2>

    <h3>Cover Image</h3>
    <%= PlaceholderImage.call(671, 429, 1) %>

    <h3>Author Image</h3>
    <%= PlaceholderImage.call(50, 75, 1) %>
  </div>
</div>
