<nav class="top-bar" id="navigation" data-topbar>
  <section class="top-bar-section">

  <ul class="left">
    <li>
      <%= link_to("Home", root_path) %>
    </li>
    <li class="has-dropdown">
      <%= link_to("Issues", issues_path) %>
      <ul class="dropdown">
        <li>
          <%= link_to(2014, issue_path(2014)) %>
        </li>
        <li>
          <%= link_to(2013, issue_path(2013)) %>
        </li>
        <li>
          <%= link_to("Full Archive", issues_path) %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Essays</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">ND University Writing Program</a>
    </li>
  </ul>

  </section>
</nav>
