<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fresh Writing" %></title>

    <%= stylesheet_link_tag  "admin" %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="site-header" role="banner" id="header">
    <div class="branding row sub">
      <div class="large-2 columns"><h1>Fresh Writing</h1></div>
      <div class="large-10 columns"><h2></h2></div>
    </div>
    </header>
    <%= render partial: 'layouts/admin_navigation' %>


    <div class="row">
      

      <div class="large-10 columns">
        <%= display_notices %>
        <%= yield %>

      </div>
      <div class="large-2 columns">
        <h3>Help</h3>
      </div>
    </div>

  </body>
  <%= javascript_include_tag "admin" %>
  <%= render partial: "layouts/google_analytics" %>
</html>
