<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fresh Writing" %></title>

    <%= stylesheet_link_tag  "admin" %>
    <%= stylesheet_link_tag 'print', media: 'print' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="site-header" role="banner" id="header">
    <div class="branding row sub">
      <div class="large-2 columns"><h1>Fresh Writing</h1></div>
      <div class="large-10 columns"><h2></h2></div>
    </div>
    </header>
    <%= render partial: 'layouts/admin_navigation' %>


    <div class="row admin">


      <div class="large-12 columns">
        <%= display_notices %>
        <%= yield %>

      </div>

    </div>
    <footer id="footer" class="site-footer row" role="contentinfo">
      <div class="large-12 columns">
        <div class="footer-inner">
          <div class="vcard">
            <p class="copyright url fn org">
              <a href="http://www.nd.edu/copyright/">Copyright</a> &copy; <%= Time.now.year %>
              <a href="http://www.nd.edu" class="org">University of Notre Dame</a>
            </p>
            <p class="contact-info adr">
              <span class="address"><span class="street-address">205 Coleman-Morse</span>, <span class="locality">Notre Dame</span>, <span class="region" title="Indiana">IN</span> <span class="postal-code">46556</span></span>
              <span class="tel"><span class="type">Phone:</span> 574-631-5578</span>
              <span class="email"><a href="mailto:fwriting@nd.edu">fwriting@nd.edu</a></span>
            </p>
            <a href="http://al.nd.edu/" class="ndmark"><%= image_tag('arts_letters_mark_blue.svg', alt: "University of Notre Dame") %></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <%= javascript_include_tag "admin" %>
  <%= render partial: "layouts/google_analytics" %>
</html>
