<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<<<<<<< HEAD
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
	    <header id="header" role="banner" class="site-header">
      <nav class="brandbar theme-bb-blue">
        <div class="row">
          <div class="twelve columns">
          <ul>
            <li class="dept-nd"><a href="http://www.nd.edu">University <i>of</i> Notre Dame</a></li>
            <li class="dept dept-coal"><a href="http://oit.nd.edu">College <i>of</i> Arts and Letters</a></li>
           </ul>
          </div>
        </div>
      </nav>
      
      
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
=======
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
>>>>>>> 7ad2f9727e4174871628c4c003995d5a34207a85
</html>
