<div class="follow">
  <%= object.issue_link %>
  <%= object.style_link %>
  <%= object.discussion_questions_link %>
  <%= object.instructor_resources_link %>
  <%= object.author_biography_link %>
  <%= object.works_cited_link %>
  <a href="javascript:window.print()" class="print tool-link">Print Page</a>
  <%= object.top_of_page_link %>
</div>
