<article>
  <h1><%= @essay_detail.title %></h1>
  <h2 class="author"><%= @essay_detail.author %></h2>
  <%= @essay_detail.render %>
  <%= @essay_detail.render_author_biography %>
  <%= @essay_detail.render_discussion_questions %>
  <%= @essay_detail.render_works_cited %>

</article>
