<article>

  <%= @essay_detail.render_header %>
  <%= @essay_detail.render_embed %>
  <div class="follow">
  <%= @essay_detail.render_discussion_questions %>
  <a href="#author_biography" class="author tool-link">Author<br>Biography</a>
  <a href="#works_cited" class="cited tool-link">Works Cited</a>
  <a href="#" target="_top" class="top tool-link">Top of Page</a>
  </div>
  <%= @essay_detail.render_body %>
  <%= @essay_detail.render_alternate_body %>
  <%= @essay_detail.render_author_biography %>
  <%= @essay_detail.render_works_cited %>

</article>
