<% content_for(:issue_header) do %>
  <div class="row volume sub">
    <div class="large-12 header">
      <a href="<%= issue_path(@essay_detail.issue) %>"><img src="http://lorempixel.com/900/90/nature/4/" ></a>
      <p>Volume 14</p>
    </div>
  </div>
<% end %>

<article>

  <%= @essay_detail.render_header %>
  <div class="follow">
  <a href="/issues/2014" class="tool-link volume">Volume 14</a>
  <a href="/issues/2014" class="tool-link style">Narrative Essay</a>
  <%= @essay_detail.render_discussion_questions %>
  <a href="#" class="tool-link instructor">Instructor Resources</a>
  <a href="#author_biography" class="author tool-link">Author<br>Biography</a>
  <a href="#works_cited" class="cited tool-link">Works Cited</a>
  <a href="#" target="_top" class="top tool-link">Top of Page</a>
  </div>
  <%= @essay_detail.render_embed %>
  <%= @essay_detail.render_body %>
  <%= @essay_detail.render_alternate_body %>
  <%= @essay_detail.render_author_biography %>
  <%= @essay_detail.render_works_cited %>

</article>
