<% content_for(:issue_header) do %>
  <%= @essay_detail.render_issue_header %>
<% end %>

<article>

  <%= @essay_detail.render_header %>
  <div class="follow">
    <%= @essay_detail.render_nav %>
  </div>

  <%= @essay_detail.render_embed %>
  <%= @essay_detail.render_attached_file %>
  <%= @essay_detail.render_body %>
  <%= @essay_detail.render_alternate_body %>
  <%= @essay_detail.render_author_biography %>
  <%= @essay_detail.render_works_cited %>

</article>
