<% content_for(:issue_header) do %>
  <div class="row volume sub">
    <div class="large-12 header">
      <a href="<%= issue_path(@essay_detail.issue) %>"><img src="http://lorempixel.com/900/90/nature/4/" ></a>
      <p>Volume 14</p>
    </div>
  </div>
<% end %>

<article>

  <%= @essay_detail.render_header %>
  <div class="follow">
    <%= @essay_detail.render_nav %>
  </div>

  <%= @essay_detail.render_embed %>
  <%= @essay_detail.render_attached_file %>
  <%= @essay_detail.render_body %>
  <%= @essay_detail.render_alternate_body %>
  <%= @essay_detail.render_author_biography %>
  <%= @essay_detail.render_works_cited %>

</article>
